#login-rootPane {
    -fx-background-color: white;
}
#login-header {
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 10px;
}
.login-label {
    -fx-font-size: 16px;
    -fx-padding: 5px;
}
.login-text {
    -fx-padding: 5px;
}
#btn-submit {
    -fx-start-margin: 5px;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #3385ff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}
#btn-submit:hover {
    -fx-background-color: #1a75ff;
}